
<ng-container [ngTemplateOutlet]="Link!=''?ViewLink:spinner" style="display: flex; flex:1;flex-direction: column; justify-content: center; align-content: center; ">
</ng-container>
<ng-template #ViewLink>
<ng-template [ngIf]="link_simple" >
<div style="display: flex ; justify-content: center;  flex-direction: column;">
<div style="display: flex; justify-content: center;">
<mat-card-title><img src="https://img.icons8.com/plasticine/60/000000/check-all.png"/></mat-card-title>
</div><br><br>
<div style="display: flex; flex-direction: row;justify-content: center;">
<mat-form-field >
<mat-label><h3>Link</h3></mat-label>
<input matInput type="text" readonly [(ngModel)]="Link">
</mat-form-field>
<button mat-button  style="background-color: rgb(163, 163, 163);height: 90%; margin-left: 5%; "  [cdkCopyToClipboard]="Link" > <mat-icon>content_copy</mat-icon></button>
</div>
<br>
</div></ng-template>
<mat-accordion class="example-headers-align">
<mat-expansion-panel  #mapanel   hideToggle="true"  (opened)='open_link_timer()' (closed)="close_link_timer()" class='mat-e'>
<mat-expansion-panel-header>
<mat-icon>add</mat-icon>
<mat-panel-title>
Add your destinations emails     </mat-panel-title>
<mat-panel-description>
&nbsp;        &nbsp;

</mat-panel-description>
</mat-expansion-panel-header>
<!--                Ships                   -->
<div>
<h3>Your Group </h3>
<mat-form-field appearance="legacy" >
<mat-label>group name</mat-label>
<input matInput placeholder="name"  [(ngModel)]="group_name">
<mat-icon matSuffix><img src="https://img.icons8.com/color/30/000000/group-foreground-selected.png"> </mat-icon>
</mat-form-field>
<mat-form-field class="example-chip-list" style="width: 98%;" >
<mat-chip-list #chipList aria-label="Invite a friend">
<mat-chip *ngFor="let email of Emails" [selectable]="true"
[removable]="true" (removed)="remove(email)">
{{email}}
<mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
</mat-chip>
<input matInput placeholder="Invite yout friends friend..."
[matChipInputFor]="chipList"
[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
(matChipInputTokenEnd)="add($event) " class="example-full-width">
<mat-spinner *ngIf="spinner_email_valid" [diameter]='20' [color]='"accent"'></mat-spinner>
</mat-chip-list>
<mat-hint *ngIf="erro_message!=''" style="color: red; font-size: 12px;">{{erro_message}}</mat-hint>

</mat-form-field>
</div>
<!--                Ships                   -->

<mat-checkbox  [(ngModel)]="Open_choose_date"> <b>Chose exparation Date </b></mat-checkbox>     &nbsp;      <mat-icon>hourglass_top</mat-icon>
<ng-template [ngIf]="Open_choose_date">
<br>
<mat-form-field class="example-full-width" appearance="fill">
<mat-label>Choose a date</mat-label>
<input matInput [min]='date' [(ngModel)]='Expire_date' [matDatepicker]="picker" disabled>
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker disabled="false" #picker></mat-datepicker>
</mat-form-field>
</ng-template>
<div style="display: flex; flex: 1;" style="width: 100%;">
</div>

<div style="display: flex; justify-content: center;">
<button [disabled]='Emails.length==0' mat-button (click)='mapanel.close() ;generate_expire_link()' >Generate</button>
</div>

</mat-expansion-panel>
</mat-accordion>
</ng-template>
<ng-template #spinner style="align-self: center; display:flex;">
<div class="flex-container"  >
<mat-spinner  [diameter]='70'></mat-spinner>
</div>   </ng-template>
